defmodule <%= web_namespace %>.Router do
  use <%= web_namespace %>, :router

  pipeline :api do
    plug :accepts, ["json"]
  end

<%= for domain <- domains do %>
  scope "/<%= domain.name %>", <%= web_namespace %> do
    pipe_through :api
  <%= for resource <- domain.resources do %>
    resources <%= "/#{resource.name}s" %>, <%= String.capitalize(resource.name) %>Controller, only: [<%= Enum.join(resource.methods, ", ") %>]
  <% end %>
  end
<% end %>
end
